body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 133, 112);
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    
}

button {
    background-color: rgb(7, 133, 112);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    
}

.botao {

    padding-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button:hover {
    background-color: grey;
    color: white;
}

select {
    margin-bottom: 10px;
    
}

