.foto {
    background-color: rgb(79, 1, 86);
    width: 100%;

}

header {
    background-color: rgb(79, 1, 86);
    width: 100%;
}

img {
    display: flex;
    margin: auto;
    padding-top: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;

}

h1 {
    text-align: center;
    background-color: rgb(79, 1, 86);
    color: rgb(200, 198, 198);
    border-bottom: solid 2px black;
    margin-bottom: 0;
    padding-bottom: 20px;
}

h2 {
    background-color: rgb(33, 33, 33);
    border-bottom: 10px;
    color: rgb(108, 22, 116);
    padding: 5px;
    border-bottom: solid 2px rgb(108, 22, 116);
    margin-top: 45px;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(58, 58, 58);
    text-align: justify;
    margin: auto;
    color: rgb(200, 198, 198);
    margin-bottom: 50px;
}

.p1 {
    text-align: center;
    background-color: rgb(58, 58, 58);

}

.subtitle {
    margin-top: 0;
}


em {
    color: rgb(40, 3, 44);
}

ul {
    padding-left: 5px;
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {

    text-align: center;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.menu a {
    background-color: rgb(180, 179, 179);
    padding: 16px;
    display: inline-block;
}

.menu a:hover {
    background-color: #444;
    color: white;
    text-decoration: none;
}